@charset "utf-8";
.btn{
  height: 4.4rem;
  border-radius: 2.2rem;
  font-size: 15px;
  padding: 0;
  line-height: 4.4rem;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary:active:hover{
  background-color: #01acfb;
  border-color: #01acfb;
}
.chk-box{
  position: relative;
  width: 2rem;
  height: 2rem;
}
.chk-box input{
  position: absolute;
  left: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  opacity: 0;
  margin: 0;
}

.chk-box span{
  display: block;
  width: 2rem;
  height: 2rem;
  background: url(../img/sel_def.png) center no-repeat;
  background-size: cover;
}
.chk-box input:checked + span{
  background-image: url(../img/sel.png);
}
.page-reg .banner{
  height: 18rem;
  background: url(../img/banner.jpg) center no-repeat;
  background-size: cover;
  margin-bottom: 2.8rem;
}
.page-reg .feature-list{
  padding: 0 3rem;
  list-style: none;
}
.page-reg .feature-list li{
  float: left;
}
.page-reg .feature-list .list-item{
  width: 6.7rem;
}
.page-reg .feature-list .list-dec{
  width: 4.5rem;
  height: 3.35rem;
  border-bottom: 1px solid #04a0e3;
  margin: 0 0.2rem;
}
.page-reg .feature-list .list-item img{
  display: block;
  width: 6.7rem;
  height: 6.7rem;
}
.page-reg .feature-list .list-item p{
  font-size: 14px;
  color: #000;
  line-height: 3.8rem;
  margin-bottom: 0;
  text-align: center;
}
.page-reg .reg-form{
  margin: 0 1.5rem;
}
.page-reg .reg-form .form-group{
  margin-bottom: 2rem;
}
.page-reg .reg-form .form-control{
  height: 4.4rem;
  line-height: 4.4rem;
  font-size: 16px;
  border-radius: 2.2rem;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-bottom: 1.9rem;
}
.page-reg .reg-form .pass-box{
  position: relative;
}
.page-reg .reg-form .pass-box .form-control{
  padding-right: 10rem;
}
.page-reg .reg-form .pass-box a{
  position: absolute;
  right: 1.5rem;
  top: 0;
  color: #00abfa;
  text-decoration: none;
  line-height: 4.4rem;
}
.page-reg .reg-form .verify-box .form-control{
  float: left;
  width: 17.2rem;
  margin-bottom: 0;

}
.page-reg .reg-form .verify-box .btn-primary{
  float: right;
  width: 13.7rem;
}
.page-reg .reg-form .agreement{
  padding-left: 4.5rem;
}
.page-reg .reg-form .agreement .chk-box{
  float: left;
}
.page-reg .reg-form .agreement p{
  float: left;
  margin-left: 0.6rem;
  margin-bottom: 0;
  font-size: 15px;
  color: #898989;
  line-height: 2rem;
}
.page-reg .reg-form .agreement p a{
  color: #e96220;
}
.page-reg .reg-form .submit-box .btn{
  width: 100%;
  font-size: 20px;
}
.page-reg .reg-form .form-group{
  position: relative;
}
.page-reg .reg-form .form-group label.error{
  position: absolute;
  left: 12px;
  bottom: -24px;
  font-size: 12px;
  color: #e96220;
  font-weight: normal;
}